APP_ENV=production
APP_DEBUG=false
APP_NAME="Mi Optica"
APP_URL=https://tudominio.com
APP_TIMEZONE=America/Santo_Domingo

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=optica_erp
DB_USERNAME=optica_user
DB_PASSWORD=cambia_esta_clave_por_una_segura

MAIL_HOST=smtp.tuproveedor.com
MAIL_PORT=587
MAIL_USERNAME=notificaciones@tudominio.com
MAIL_PASSWORD=cambia_esta_clave
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Mi Optica"
MAIL_FROM_ADDRESS=notificaciones@tudominio.com
